# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
ENV/
env/
.venv/

# VSCode
.vscode/

# PyCharm
.idea/
*.iml

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Pipenv
Pipfile.lock

# Migrations (optional — if you don’t want to track them)
# ** Be careful with this if working in a team **
# ** Usually it's better to commit migration files **
# */migrations/*.py
# */migrations/*.pyc
# !*/migrations/__init__.py

# Coverage
htmlcov/
.coverage
.tox/
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pyright
pyrightconfig.json
